body 
{
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	background: #FCFCFC url(../images/bg.jpg) repeat;
	margin: 0px;
	padding: 0px;
	color: #111;

	font-size: 15px;
	line-height: 1.8em;

	text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.static-width
{
	width: 1000px;	
	margin: 0px auto;
}

.menu-item 
{
	font-size: 15px;
	margin: 0;
	padding: 0 10px;

	display: inline-block;

	color: rgb(210, 210, 210);

	cursor: pointer;
}

.menu-item.active
{
	background-color: #222;
}

.menu-item:hover
{
	color:#FFF;
}

.label
{
	cursor: pointer;

	font-size: 15px;
	line-height: 15px;

	vertical-align: middle;
	display: inline-block;

	padding: 8px;
	background-color: rgb(92, 97, 102);
}

.label:hover
{
	background-color: #333;
}

.radius
{
	-webkit-border-radius: .325em;
	-moz-border-radius: .325em;
	border-radius:.325em;
}

.button
{
	display: inline-block;
	font-size: 17px;
	line-height: 17px;
	color: #FFF;
	font-weight: bold;

	padding: 20px;

	cursor: pointer;

	text-decoration: none;

	background-color: rgb(90,95,100);
}

.button:hover
{
	background-color: rgb(73,73,73);
}

.button-red
{
	background-color: rgb(210,89,89);
}

.button-red:hover
{
	background-color: rgb(222,84,85);
}

.button img
{
	vertical-align: middle;
}

.block
{
	padding: 10px;
	margin-top:20px;
	margin-bottom: 20px;

	background-color: rgb(221,221,221);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,.1);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,.1);
	box-shadow: 0 3px 10px rgba(0,0,0,.1);

	min-height: 200px;
}

.block .title
{
	margin-top: 10px;

	color: #FFF;
	font-size: 40px;

	-webkit-border-radius:0 5px 5px 0;
	-moz-border-radius:0 5px 5px 0;
	border-radius:0 5px 5px 0;

	-webkit-box-shadow:0 1px 5px rgba(0,0,0,.3),inset 0 1px 0 rgba(255,255,255,.2),inset 0 -1px 0 rgba(0,0,0,.3);
	-moz-box-shadow:0 1px 5px rgba(0,0,0,.3),inset 0 1px 0 rgba(255,255,255,.2),inset 0 -1px 0 rgba(0,0,0,.3);
	box-shadow:0 1px 5px rgba(0,0,0,.3),inset 0 1px 0 rgba(255,255,255,.2),inset 0 -1px 0 rgba(0,0,0,.3);

	background-color:#0389aa;
	background-image:url(data:image/svg+xml;
	base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAzODlhYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDYxN2YiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background-image:-webkit-gradient(linear,left top,left bottom,from(#0389aa),to(#00617f));
	background-image:-webkit-linear-gradient(top,#0389aa 0%,#00617f 100%);
	background-image:-moz-linear-gradient(top,#0389aa 0%,#00617f 100%);
	background-image:-o-linear-gradient(top,#0389aa 0%,#00617f 100%);
	background-image:linear-gradient(to bottom,#0389aa 0%,#00617f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#0389aa',endColorstr='#00617f',GradientType=0 );

	margin-left:-20px;

	position: relative;

	height: 98px;

}

.block.darken .title
{
	background-color: #cd9239;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(205,146,57,1)), to(rgba(162,117,40,1)));
	background-image: -webkit-linear-gradient(top, rgba(205,146,57,1) 0%, rgba(162,117,40,1) 100%);
	background-image: -moz-linear-gradient(top, rgba(205,146,57,1) 0%, rgba(162,117,40,1) 100%);
	background-image: -o-linear-gradient(top, rgba(205,146,57,1) 0%, rgba(162,117,40,1) 100%);
	background-image: linear-gradient(to bottom, rgba(205,146,57,1) 0%,rgba(162,117,40,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cd9239', endColorstr='#a27528',GradientType=0 );
}

.block.bright .title
{
	background-color: #9e2812;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#9e2812), to(#6f0d0d));
	background-image: -webkit-linear-gradient(top, #9e2812 0%, #6f0d0d 100%);
	background-image: -moz-linear-gradient(top, #9e2812 0%, #6f0d0d 100%);
	background-image: -o-linear-gradient(top, #9e2812 0%, #6f0d0d 100%);
	background-image: linear-gradient(to bottom, #9e2812 0%,#6f0d0d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e2812', endColorstr='#6f0d0d',GradientType=0 );
}



.block .title:before 
{
	content: "";
	position: absolute;
	top: -10px;
	left: 0;
	border-color: transparent #00617f #00617f transparent;
	border-style: solid;
	border-width: 5px;
	width: 0;
	height: 0;
}

.block.darken .title:before  
{
	border-color: transparent #664719 #664719 transparent;
}

.block.bright .title:before  
{
	border-color: transparent #6f0d0d #6f0d0d transparent;
}

.block .title h5, .block .title p 
{
	line-height: 1.5em;
	margin: 0;
}

.block .title p 
{
	font-weight: normal;
	font-size: 15px;
	padding: 0 32px;
	color: rgb(221,221,221);
}

.block .title h5
{
	font-weight: bold;
	padding: 5px 32px;

}

.block .subtitle
{
	margin: 1em 0;
	text-shadow: rgba(0, 0, 0, 0.498039) 0px 1px 3px;
	font-size: 28px;
	line-height: 28	px;
	color: #444;
}

.block .content
{
	text-shadow:none;
	padding: 15px 10px; 
	color: #000;
}

.code
{
	font-size: 12px;
	text-shadow: none;
}

.code .des
{
	text-align: right;
	font-weight: bold;
	color: rgb(153,0,0);
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}