#nav
{
	height: 40px;
	background-color: #333;
	filter: alpha(opacity=95);
	opacity: 0.95;


	position: fixed;
	width: 100%;

	z-index: 1024;

	line-height: 40px;
}

#logo
{
	color: #FFF;

	font-size: 16px;

	margin-right: 20px;

	float:left;
}

#summary
{
	padding-top: 80px;
	padding-bottom: 40px;

	background-color: rgb(0,181,173);
}

#project-name
{
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 75px;
	line-height: 75px;
	color:#FFF;
	font-weight: bold;
}

#slogan
{
	color: rgb(229, 229, 229);
	font-size: 23px;
	line-height: 23px;

	padding: 30px 0;
}

#compatible_list
{
	padding: 20px 0;
	color: #FFF;
}

#compatible_list .compatible_icon
{
	vertical-align: middle;
	margin-left:15px;
	width: 55px;
	height: 55px;
}

#compatible_list #nodejs_icon
{
	width: 160px;
}

#origin .content .point
{
	font-style: normal;
	text-decoration: underline;
}

.left-code
{
	float: left;
	width: 480px;
}

.right-code
{
	float: right;
	width: 480px;
}